body {
    margin: 1.5em;
}
.jumbotron {
    background-color: #EF626C;
    color: wheat;    
}
.container {
    text-align: center;
}
.btn {
    background-color: #EF626C;
    border-color: wheat !important;
    font-size: 3em;
    color: wheat;
}
.btn:hover {
    background-color: #d16069;
}
qrcode {
    max-height: 300px;
    max-width: 80%;
}
img {
    max-width: 80%;
}
a {
    text-decoration: none;
}
#yes:hover {
    color: green;
}
#nope:hover {
    color: red;
}
#next:hover {
    color: black;
}
#info:hover {
    color: white;
}
#no_info:hover {
    color: steelblue;
}