body {
    margin: 1.5em;
}
.jumbotron {
    background-color: #EF626C;
    color: wheat;    
}
.container {
    text-align: center;
}
.btn {
    background-color: #EF626C;
    border-color: wheat !important;
}
.btn:hover {
    background-color: #d16069;
}
qrcode {
    max-height: 300px;
    max-width: 80%;
}
img {
    max-width: 80%;
}