* {
    text-align: center;
}

.container {
    margin-top: 2em;
    width: 90%;
}

form > button {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
button:active {
    background-color: orangered;
}
button#yes.activated {
    background-color: rgba(128, 128, 128, 0.199);
}
button#nope.activated {
    background-color: rgba(128, 128, 128, 0.199);
}
.iconify {
    font-size: 3em;
}
.iconify:active {
    color: white;
}
#yes .iconify.activated {
    color: green;
}
#nope .iconify.activated {
    color: red;
}
.qrcode img {
    max-width: 50%;
}
